<%- include("partials/header") %>

<h1>
	Create a New Campground
</h1>

<form action="/campgrounds" method= "POST">
	<input type= "text" name = "name" placeholder = "name">
    <input type="text"  name="image" placeholder = "image url!">
	<input tyoe="text" name = "description" placeholder = "More information" >
	<button>Submit!</button>
</form>

<a href="/campgrounds">Back</a>
<%- include("partials/footer") %>